# LIGA O REWRITE
RewriteEngine On

# IMPEDE A LISTAGEM DE DIRETÓRIOS
Options All -Indexes

# CRIA CONDIÇÕES PARA A REGRA REWRITE
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

# REGRA REWRITE QUE ENVIA TUDO PARA O INDEX
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# PREVINE LER ARQUIVOS *.php
<Files *.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>